*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: url(../background.webp);
    background-size: 200px 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.text{
    color: green;
    background: whitesmoke;
    border-radius: 10px;
}

h1{
    background: black;
    color: aqua;
    font-size: 70px;
    padding: 5px 20px;
}

@media screen and (max-width:500px) {
    h1{
        font-size: 45px;
    }
    
}